# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Profiling output
*.stats
*.lprof
*.dat

# Images
*.png

# pytest
.pytest_cache/

# OS files
Thumbs.db
.DS_Store

# Exclude test folder
tests_implementerade_med_hjälp/
